/* styles.scss */

/* Fonts */

@import 'https://fonts.googleapis.com/css?family=Bungee';
@import 'https://fonts.googleapis.com/css?family=Mada';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

/* Variables */

$headerfont: 'Bungee', arial;
$titlefont: 'Mada', arial;
$textfont: 'Oxygen', arial;

$white: #F5F5F5;
$blue: #0E829C;
$teal: #8EDEDA;

/* General Element Styling */

body {
	margin: 0;
	padding: 0;
	background: radial-gradient(circle, #F0F0F0, #E3E3E3);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $titlefont;
}

p {
	font-family: $textfont;
}

a {
	color: $blue;
	text-decoration: none;
	font-family: $textfont;
}

ul {
	margin: 0 auto;
	list-style-type: none;
}

.hide {
	display: none;
}

/* Header */

.header {
	background-color: $blue;
	text-align: center;

	h1 {
		font-family: $headerfont;
		font-size: 2.1em;
		color: $teal;
		margin-top: 0;
		padding-top: 1.2em;
		padding-bottom: 0.5em;
	}

	h4 {
		a {
			color: $white;
		}
		padding-bottom: 1.2em;
	}
}


/* Content */

.pre-quiz {
	text-align: center;

	#quiz-summary {
		margin: 0 auto;
		padding: 2em 2em;
		width: 70%;
		font-family: $textfont;
	}
}

.quiz-content {
	margin: 0 auto;
	width: 70%;
	h2 {
		font-family: $titlefont;
	}
}

#choices {
	list-style-type: none;
	font-family: $textfont;

	li {
		input {
			outline: none;
		}
	}
}

.blue-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.blue-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.blue-btn:active {
	position:relative;
	top:1px;
}


/* Footer */

